@charset "utf-8";
.content{position:absolute; width: 100%;top: 0; left: 0; overflow: hidden; min-height: 100%;  background: url("../img/index-bg.png") repeat-y; -webkit-background-size: 100% auto; background-size: 100% auto;}
img{display: block; font-size: 0;}
.po-re{position: relative;}
@-webkit-keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes ratateMove {
    0%{ -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}
}
@keyframes ratateMove {
    0%{ -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}
}
/*==nav==*/
.nav{width: 100%; margin-top: 0.75rem;}
.nav>img{ width: 8vw; margin: 0 auto;}
.nav-lists{position: absolute; right: 0.3rem; top: 0;}
.nav-lists a{display: block; margin-left: 0.2rem; width: 1.375rem; height: 1.375rem; background: url("../img/nav.png") no-repeat center center;}
.nav-lists .my-center a{background-position: 0 0; -webkit-background-size: 212.7% 100%; background-size: 212.7% 100%;}
.nav-lists .search a{background-position: 100% 0; -webkit-background-size: 212.7% 100%; background-size: 212.7% 100%;}
/*==tiger==*/
.tiger{width: 46vw; height: 14.4vw; background: url("../img/tiger.png") no-repeat; position: absolute; top: 0;}
.tiger-left{background-position: 0 0;-webkit-background-size: auto 100%; background-size: auto 100%; left: -46vw;
    -webkit-animation: tigerLeftMove 1.5s 1 ease-in 0.5s forwards;
    -o-animation: tigerLeftMove 1.5s 1 ease-in 0.5s forwards;
    animation: tigerLeftMove 1.5s 1 ease-in 0.5s forwards;
}
.tiger-right{background-position: 100% 0;-webkit-background-size: auto 100%; background-size: auto 100%; right: -46vw;
    -webkit-animation: tigerRightMove 1.5s 1 ease-in 0.5s forwards;
    -o-animation: tigerRightMove 1.5s 1 ease-in 0.5s forwards;
    animation: tigerRightMove 1.5s 1 ease-in 0.5s forwards;
}
.nav-circle{width: 7.4vw; height: 7.4vw; background: url("../img/nav-cicle.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 50%; margin-left: -3.7vw; top: 7%; opacity: 0;
    -webkit-animation: fadeIn 1.5s 1 linear 2s forwards, ratateMove 5s infinite linear 2.5s forwards;
    -o-animation: fadeIn 1.5s 1 linear 2s forwards, ratateMove 5s infinite linear 2.5s forwards;
    animation: fadeIn 1.5s 1 linear 2s forwards, ratateMove 5s infinite linear 2.5s forwards;
}
@-webkit-keyframes tigerLeftMove {
    0%{left: -46vw;}
    90%{left: 5vw;}
    100%{left: 0;}
}
@keyframes tigerLeftMove {
    0%{left: -46vw;}
    90%{left: 5vw;}
    100%{left: 0;}
}
@-webkit-keyframes tigerRightMove {
    0%{right: -46vw;}
    90%{right: 5vw;}
    100%{right: 0;}
}
@keyframes tigerRightMove {
    0%{right: -46vw;}
    90%{right: 5vw;}
    100%{right: 0;}
}
/*==part1==*/
.part1{margin-top: -32vw;}
.part1-bird1{width: 33.3vw; height: 13vw; background: url("../img/bird1.png") no-repeat left top;
    position: absolute;left: 18%; top: 31vw; -webkit-background-size:3% auto;background-size:3% auto;
    -webkit-animation: bird1Move 2s 1 ease-in 2.5s forwards;
    -o-animation: bird1Move 2s 1 ease-in 2.5s forwards;
    animation: bird1Move 2s 1 ease-in 2.5s forwards;
}
.part1-bird2{width: 36.267vw; height: 15.5vw; background: url("../img/bird2.png") no-repeat left top; position: absolute; left: 55.47%; top: 60vw; -webkit-background-size: 3% auto; background-size: 3% auto; z-index: 40;
    -webkit-animation: bird2Move 2s 1 ease-in 2.5s forwards;
    -o-animation: bird2Move 2s 1 ease-in 2.5s forwards;
    animation: bird2Move 2s 1 ease-in 2.5s forwards;
}
@-webkit-keyframes bird1Move {
    0%{left: 18%; top: 31vw; -webkit-background-size:3% auto;
        background-size:3% auto;}
    100%{left: 22.8%; top: 33vw; -webkit-background-size:100% auto;
        background-size:100% auto;}
 }
@keyframes bird1Move {
    0%{left: 18%; top: 31vw; -webkit-background-size:3% auto; background-size:3% auto;}
    100%{left: 22.8%; top: 33vw; -webkit-background-size:100% auto; background-size:100% auto;}
 }
@-webkit-keyframes bird2Move {
    0%{left: 18%; top: 31vw; -webkit-background-size: 3% auto; background-size: 3% auto;}
    100%{left: 55.47%; top: 64vw; -webkit-background-size: 100% auto; background-size: 100% auto;}
 }
@keyframes bird2Move {
    0%{left: 18%; top: 31vw; -webkit-background-size: 3% auto; background-size: 3% auto;}
    100%{left: 55.47%; top: 64vw; -webkit-background-size: 100% auto; background-size: 100% auto;}
 }

.part1-btn{width: 27vw; height: 8.4vw; background: url("../img/visit-info-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 60.13%; top: 78vw;  z-index: 30; opacity: 0;
    -webkit-animation: fadeIn 2s 1 ease-in 4.5s forwards;
    -o-animation: fadeIn 2s 1 ease-in 4.5s forwards;
    animation: fadeIn 2s 1 ease-in 4.5s forwards; }
/*==part2==*/
.part2{width: 100%; background: url("../img/montain2.png") no-repeat left top; -webkit-background-size: contain; background-size: contain; margin-top: -23vw;padding-top: 56vw;}
.part2-bird3{width: 60vw; height: 56vw; background: url("../img/part2-bird3.png") no-repeat left top; -webkit-background-size: contain; background-size: contain; margin-left: -2vw;}
.bird3-head{width: 12.4vw; height: 6.3vw; background: url("../img/bird3-head.png") no-repeat left top; -webkit-background-size: contain; background-size: contain; position: absolute; left: 20.2vw; top: 25.6vw;
    -webkit-transform-origin: 37% 79%;
    -o-transform-origin: 37% 79%;
    transform-origin: 37% 79%;
    -webkit-transform: rotate(-4.2deg);
    -o-transform: rotate(-4.2deg);
    transform: rotate(-4.2deg);
}
.part2-bird3.move .bird3-head{
    -webkit-animation: bird2HeadMove 6s infinite linear 0s forwards;
    -o-animation: bird2HeadMove 6s infinite linear 0s forwards;
    animation: bird2HeadMove 6s infinite linear 0s forwards;
}
.bird3-tail{width: 18.13vw; height: 13.4vw; background: url("../img/bird3-tail.png") no-repeat left top; -webkit-background-size: contain; background-size: contain; position: absolute; left: 30vw; top: 38.3vw;
    -webkit-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    }
.part2-bird3.move .bird3-tail{
    -webkit-animation: bird2TailMove 6s infinite linear 0s forwards;
    -o-animation: bird2TailMove 6s infinite linear 0s forwards;
    animation: bird2TailMove 6s infinite linear 0s forwards; }
@-webkit-keyframes bird2HeadMove {
    0%{-webkit-transform: rotate(-4.2deg);-moz-transform: rotate(-4.2deg);-ms-transform: rotate(-4.2deg);-o-transform: rotate(-4.2deg);transform: rotate(-4.2deg);}
    15%{-webkit-transform: rotate(-4.2deg);-moz-transform: rotate(-4.2deg);-ms-transform: rotate(-4.2deg);-o-transform: rotate(-4.2deg);transform: rotate(-4.2deg);}
    20%{transform: rotate(-13deg);}
    45%{transform: rotate(-13deg);}
    52.5%{transform: rotate(21deg);}
    55%{transform: rotate(25deg);}
    57.5%{transform: rotate(21deg);}
    60%{transform: rotate(25deg);}
    62.5%{transform: rotate(21deg);}
    65%{transform: rotate(25deg);}
    75%{transform: rotate(-4.2deg);}
    100%{transform: rotate(-4.2deg);}
}
@keyframes bird2HeadMove {
    0%{transform: rotate(-4.2deg);}
    15%{transform: rotate(-4.2deg);}
    20%{transform: rotate(-13deg);}
    45%{transform: rotate(-13deg);}
    52.5%{transform: rotate(21deg);}
    55%{transform: rotate(25deg);}
    57.5%{transform: rotate(21deg);}
    60%{transform: rotate(25deg);}
    62.5%{transform: rotate(21deg);}
    65%{transform: rotate(25deg);}
    75%{transform: rotate(-4.2deg);}
    100%{transform: rotate(-4.2deg);}
}
@-webkit-keyframes bird2TailMove {
    0%{transform: rotate(0deg);}
    2.5%{transform: rotate(-2deg);}
    5%{transform: rotate(0deg);}
    7.5%{transform: rotate(-2deg);}
    10%{transform: rotate(0deg);}
    10.5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}
@keyframes bird2TailMove {
    0%{transform: rotate(0deg);}
    2.5%{transform: rotate(-2deg);}
    5%{transform: rotate(0deg);}
    7.5%{transform: rotate(-2deg);}
    10%{transform: rotate(0deg);}
    10.5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}
/*==part3==*/
.part3{width: 100%; height: 310vw; background: url("../img/bg3.png") no-repeat top center; -webkit-background-size: 100% auto; background-size: 100% auto; margin-top: -20vw; padding-left: 62.23vw; padding-top: 77vw;}
.part3-deer{width: 27.73vw; height: 41.87vw; }
.part3-earLeft{width: 2.27vw; height: 5.73vw; position: absolute; top: 0; left: 7.5vw; background: url("../img/part3-earLeft.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;
    transform-origin: bottom center;
    animation: part3EarLeftMove 5s infinite linear 0s forwards;
}
.part3-earRight{width: 2vw; height: 5.73vw; position: absolute; top: 2.53vw; left: 10.4vw; background: url("../img/part3-earRight.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;
    transform-origin: 0% 80%;
    transform: rotate(0deg);
    animation: part3EarRightMove 5s infinite linear 0s forwards;

}
@-webkit-keyframes part3EarLeftMove {
    0%{transform: rotate(0deg);}
    2%{transform: rotate(-10deg);}
    4%{transform: rotate(2deg);}
    6%{transform: rotate(-8deg);}
    8%{transform: rotate(2deg);}
    10%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
@-webkit-keyframes part3EarRightMove {
    0%{transform: rotate(0deg);}
    2%{transform: rotate(10deg);}
    4%{transform: rotate(2deg);}
    6%{transform: rotate(8deg);}
    8%{transform: rotate(2deg);}
    10%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}






.part3-legs{position: absolute;  left: 2.4vw; top: 24.3vw;
    transform-origin: top right;
    transform: rotate(-12deg);

    animation: part3bone1Move 5s infinite linear 0s forwards;
}
.part3-bone1{width: 4.13vw; height: 6.13vw;}
.part3-legs2{
    /*margin-top: -2vw; margin-left: 0vw;*/
    margin-top: -1vw; margin-left: 0.2vw;
    transform-origin: top center;
    /*transform: rotate(0deg);*/
    transform: rotate(28deg);
    animation: part3bone2Move 5s infinite linear 0s forwards;
}
.part3-bone2{width: 3.6vw; height: 5.06vw; }
.part3-bone3{width: 3.87vw; height: 3.2vw; background: url("../img/part3-bone3.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;
    /*margin-left: 1vw; margin-top: -3vw;*/
    margin-left: 1vw; margin-top: -2vw;
    transform-origin: top center;
    transform: rotate(44deg);
    animation: part3bone3Move 5s infinite linear 0s forwards;
}
@-webkit-keyframes part3bone1Move {
    0%{transform: rotate(-12deg);}
    10%{transform: rotate(10deg);}
    20%{transform: rotate(-18deg);}
    25%{transform: rotate(-18deg);}
    30%{transform: rotate(10deg);}
    40%{transform: rotate(-18deg);}
    45%{transform: rotate(-18deg);}
    50%{transform: rotate(-12deg);}
    100%{transform: rotate(-12deg);}
}
@-webkit-keyframes part3bone2Move {
    0%{transform: rotate(28deg);}
    10%{transform: rotate(50deg);}
    20%{transform: rotate(-5deg);}
    25%{transform: rotate(-5deg);}
    30%{transform: rotate(32deg);}
    40%{transform: rotate(-5deg);}
    45%{transform: rotate(-5deg);}
    50%{transform: rotate(28deg);}
    100%{transform: rotate(28deg);}
}
@-webkit-keyframes part3bone3Move {
    0%{transform: rotate(44deg);}
    10%{transform: rotate(40deg);}
    20%{transform: rotate(90deg);}
    25%{transform: rotate(90deg);}
    30%{transform: rotate(20deg);}
    40%{transform: rotate(90deg);}
    45%{transform: rotate(90deg);}
    50%{transform: rotate(44deg);}
    100%{transform: rotate(44deg);}
}
.part3-body{width: 100%; position: absolute; left: 0; top: 0;}
.part3-btn{position: absolute;  width: 10.67vw; height: 34.27vw; background: url("../img/part3-btn.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; left: 51vw; top: 78vw; opacity: 0;}
.part-btn.show{
    animation: fadeIn 2s 1 linear 0s forwards;
}
/*==part4==*/
.part4{width: 100%; height: 138.53vw; background: url("../img/bg4.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; margin-top: -174vw;}
.part4.show .part4-fish{animation: part4WaterShow 0.5s 1 ease-out 0.1s forwards; }
.part4.show .part4-water{animation: part4WaterShow 0.5s 1 ease-out 0s forwards;}

.part4-fish{width: 31.6vw; height: 32.53vw; background: url("../img/part4-fish.png") no-repeat left bottom; position: absolute; left: 0; top: 35vw;
-webkit-background-size: 0%;
background-size: 0%;  }
.part4-water{width: 45.2vw; height: 40.8vw; background: url("../img/part4-water.png") no-repeat left bottom; position: absolute; left: 0; top: 44vw;
    -webkit-background-size: 0% 0%;
    background-size: 0% 0%; }
.part4-flower{width: 9.6vw; height: 40vw; background: url("../img/part4-flower.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 36vw; top: 35vw; z-index: 30;}
.part4-btn{width: 19.33vw; height: 19.33vw; background: url("../img/part4-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 21vw; top: 36vw; z-index: 20; opacity: 0;}
@-webkit-keyframes part4WaterShow{
    0%{ -webkit-background-size: 0% 0%;
        background-size: 0% 0%;}
    100%{ -webkit-background-size: 100% 100%;
        background-size: 100% 100%;}
}

/*==part5==*/
.part5{width: 100%; height: 246.27vw; background: url("../img/bg5.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; margin-top: -66vw; padding-left: 37vw; padding-top: 41vw;}
.part5-btn{width: 8.8vw; height: 30vw; background: url("../img/part5-btn.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: absolute; left: 81vw; top: 39.5vw; opacity: 0;}
.part5-deer{width: 42.27vw; height: 30vw; background: url("../img/part5-deer.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.part5-head{width: 12.27vw; height: 12.8vw; background: url("../img/part5-head.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; position: absolute; right: 0; top: 6vw;
    transform-origin: 25% 65%;
    animation: part5HeadMove 5s infinite ease-out 0s forwards;
}
@-webkit-keyframes part5HeadMove {
    0%{transform: rotate(0deg);}
    10%{transform: rotate(40deg);}
    20%{transform: rotate(40deg);}
    24%{transform: rotate(35deg);}
    30%{transform: rotate(40deg);}
    36%{transform: rotate(35deg);}
    41%{transform: rotate(40deg);}
    45%{transform: rotate(35deg);}
    50%{transform: rotate(40deg);}
    65%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}
/*==part6==*/
.part6{width: 100%; height: 120.3vw; background: url("../img/bg6.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; margin-top: -165vw; padding-left: 1vw; padding-top: 34vw; }
.part6-btn{width: 7.87vw; height: 40vw; background: url("../img/part6-btn.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: absolute; left: 58vw; top: 50vw; opacity: 0;}
.part6-boat{width: 61.07vw; height: 55.07vw; background: url("../img/part6-boat.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.part6-stick{width: 16.67vw; height: 15.2vw; background: url("../img/part6-stick.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: absolute; bottom: 2vw; left: -0.5vw;
    transform-origin: 70% 30%; transform: rotate(5deg);
    animation: part6StickMove 3s  linear 0s infinite alternate;
}
.part6-sail{width: 14.8vw; height: 24.93vw; background: url("../img/part6-sail.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: absolute; top: 5vw; right: 5vw;
}
@-webkit-keyframes part6StickMove {
    0%{transform: rotate(5deg);}
    20%{transform: rotate(5deg);}
    80%{transform: rotate(-6deg);}
    100%{transform: rotate(-6deg);}
}

/*==part7==*/
.part7{width: 100%; height: 192.4vw; margin-top: -35vw;}
.part7-bg{position: absolute; width: 100%; height: 100%;  background: url("../img/bg7.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;}
.part7-bird{width: 9.44vw; height: 7.68vw; background: url("../img/part7-bird.png") no-repeat;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%; position: absolute; background-position: 0 0; top: 130vw; left: -9vw;}
.part7-bird.move{animation: part7BirdMove 6s ease-out 0s 1 forwards;}
@-webkit-keyframes part7BirdMove {
    0%{}
    100%{width: 47.2vw; height: 38.4vw; top: 44vw; left: 48vw;}
}
.part7-cloudB{width: 68.67vw; height: 16.3vw; background: url("../img/part7-cloudB.png") no-repeat left bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute; top: 108vw; left: -50vw;
}
.part7-cloudB.show{
    -webkit-animation: part7CloudBMove 6s ease-in 0s 1 forwards, part7CloudBMoveUp 1.5s ease-out 0s infinite alternate;
    -o-animation: part7CloudBMove 6s ease-in 0s 1 forwards, part7CloudBMoveUp 1.5s ease-out 0s infinite alternate;
    animation: part7CloudBMove 6s ease-in 0s 1 forwards, part7CloudBMoveUp 1.5s ease-out 0s infinite alternate;
}
@-webkit-keyframes part7CloudBMove {
    0%{left: -50vw;}
    100%{ left: 30vw;}
}
@-webkit-keyframes part7CloudBMoveUp {
    0%{top: 108vw;}
    100%{top: 110vw;}
}
.part7-cloudS{width: 38vw; height: 10.2vw; background: url("../img/part7-cloudB.png") no-repeat left bottom;
    -webkit-background-size: 100% auto;  background-size: 100% auto; position: absolute; top: 95vw; left: 10vw;
}
.part7-cloudS.show{
    -webkit-animation: part7CloudSMove 7s ease-in 0s 1 forwards, part7CloudSMoveOpa 3.5s ease-out 4.5s 1 forwards;
    -o-animation: part7CloudSMove 7s ease-in 0s 1 forwards, part7CloudSMoveOpa 3.5s ease-out 4.5s 1 forwards;
    animation: part7CloudSMove 7s ease-in 0s 1 forwards, part7CloudSMoveOpa 3.5s ease-out 4.5s 1 forwards;}
@-webkit-keyframes part7CloudSMove {
    0%{left: 10vw;}
    100%{left: 90vw;}
}
@-webkit-keyframes part7CloudSMoveOpa {
    0%{opacity: 1;}
    100%{opacity: 0;}
}











/*==part8==*/
.part8{width: 100%; height: 211vw; background: url("../img/bg8.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; margin-top: -29vw;}
/*==part9==*/
.part9{width: 100%; height: 154.67vw; background: url("../img/bg9.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; margin-top: -23vw;}
































