@charset "utf-8";
img{display: block; font-size: 0;}
.po-re{position: relative; }
.wrapper{background-color: #fff2eb;  margin-top: 3rem;}
/*==nav==*/
.nav{position: absolute; left: 0; top: 0; height: 3rem; background-color: #ffe9df; padding: 0 0.5rem 0 0.65rem; width: 100%;}
.nav-lists{height: 100%; }
.nav-list{height: 100%; line-height: 3rem; width: 1.15rem; margin-left: 0.5rem;}
.nav-list a{display: block; height: 100%; background: url("../img/nav.png") no-repeat; -webkit-background-size: auto 32%; background-size: auto 32%;}
.nav-list.my-center a{background-position: -1% center;}
.nav-list.search a{background-position: 53% center;}
.nav-list.menu a{background-position: 106% center;}
/*==top==*/
.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 0.3rem;}
.swiper-pagination-bullet{width: 0.5rem; height: 0.5rem; background: transparent url("../img/index-pagination.png") no-repeat center center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 0 0;
    border: none; opacity: 1; position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.swiper-pagination-bullet-active{ background-position: 100% 0;}
.index-function{position: absolute; width: 8.8vw; height: 33vw; top: 19%;}
.function-visit{left: 3%;}
.function-order{left: 35%;}
.function-transport{left: 67%;}
.toView{position: absolute; width: 28.8vw; height: 9.5vw; left: 35.6vw; top: 32%;}
/*==最新动态==*/
.index-state{margin-top: 1.43rem; padding-bottom: 2.4rem; background: url("../img/state-bottom.png") no-repeat bottom center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;}
.state-title{width: 100%; height: 8.8vw; background: url("../img/index-state-title.png") no-repeat center center; -webkit-background-size: contain; background-size: contain;}
.state-more{position: absolute; width: 21.6%; height: 100%; right: 1%;}
.state-item{border-bottom: 1px solid #905c50; }
.state-item a{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch; padding: 1rem 0.5rem;}
.state-img{ -webkit-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1;}
.state-content{ -webkit-flex: 2; -ms-flex: 2; flex: 2; -webkit-box-flex: 2; -moz-box-flex: 2; -ms-box-flex: 2; box-flex: 2; padding-left: 0.45rem; position: relative;}
.state-link{color: #595757; font-size: 0.75rem; line-height: 1.1rem; font-weight: bold; font-family: "microsoft yahei";}
.state-bottom{ font-size: 0.6rem; color: #47202a;position: absolute; bottom: 0; right: 0; left: 0.3rem;}
/*==info==*/
.invite-info{width: 42.4vw; height: 48.7vw; background: url("../img/visit-info.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 13.5%; top: 40%; opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.invite-info-show{top: 9%; opacity: 1;}
.invite-info a{width: 9.5vw; height: 27vw; background: url("../img/visit-info-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: -2%; top: -8%;}
.research{width: 76.3vw; height: 33.5vw; background: url("../img/research.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; right: 0; top: 85%; opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;}
.research-show{top: 42%; opacity: 1;}
.research a{width: 9.5vw; height: 27vw; background: url("../img/research-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 66%; top: -43%;}
.education{width: 67vw; height: 67.9vw; background: url("../img/education.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 0%; bottom: -45%; opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;}
.education-show{bottom: 0; opacity: 1}
.education a{width: 9.5vw; height: 27vw; background: url("../img/education-btn.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain; position: absolute; left: 50%; top: 34%;}







/*==活动==*/
.index-active{padding-top: 1.45rem; background-color: #94bda3; padding-bottom: 0.35rem;}
.active-title{width: 100%; height: 8.8vw; background: url("../img/index-active-title.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;}
.index-toTop{margin-top: 0.5rem; width: 6vw; height: 6vw; background: url("../img/index-toTop.png") no-repeat center center;
    -webkit-background-size: 67% auto;
    background-size: 67% auto; margin-right: 0.5rem;}
/*==底部==*/
.index-bottom{padding: 0.5rem 0 0.9rem; background-color: #383a40;}
.index-bottom p{text-align: center; color: #fff; font-size: 0.675rem; line-height: 1rem;}
.index-bottom span+span{margin-left: 0.2rem;}




































