@charset "utf-8";
.flex{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;  -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch;}
/*==登陆==*/
.po-re{position: relative;}
.wrapper{position: absolute; width: 100%; left: 0; overflow-x: hidden; height: 100%;  background: url("../img/login.png") repeat; -webkit-background-size:100% auto; background-size:100% auto;}
.content{display: block; width: 100%; min-height: 100vh; background: url("../img/login-bg.png") no-repeat top center; -webkit-background-size:100% auto; background-size:100% auto;}
.pd75{padding-left: 3.2vw; padding-right: 3.2vw;}
/*==表格部分==*/
.forms-wrapper{width: 100%; font-size: 0; padding-top: 28.3vw; }
.login-title{width: 100%; height: 13.33vw; background: url("../img/login-title.png") no-repeat center center; -webkit-background-size:auto 100%;background-size:auto 100%;}
.forms-wrapper>img.line{width: 32.8vw; margin: 0 auto; display: block;}
.forms-content{margin-top: 1.5rem;}
.input-label{width: 100%; height: 1.68rem; line-height: 1.68rem; background: url("../img/input-bg.png") no-repeat; -webkit-background-size:100% 100%; background-size:100% 100%; font-size: 0.8rem; color: #8b4637; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between;}
.forms-content label+label{margin-top: 1.35rem;}
.input-controller{height: 100%; background: url("../img/label-bg.png") no-repeat; -webkit-background-size:100% 100%;  background-size:100% 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 0 0.5rem; white-space: nowrap;}
.input-controller.number2{word-spacing: 1.4rem;}
.input-controls{flex: auto; text-indent: 0.8rem; width: 0;}
.check-img{width: 21.2vw;display: block; margin: 0.1rem 0.1rem 0.1rem 0; font-size: 0; background: url("../img/check-bg.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.check-img img{display: block; width: 100%; height: 100%;}
.login-submit{display: block; width: 33.3vw; height: 23.7vw; background: url("../img/login-btn.png") no-repeat center center; background-size: contain; margin: 2rem auto 0;}
.links{margin: 1.25rem auto; font-size: 0.7rem;  height: 1rem;}
.login-link{height: 100%; position: absolute; top: 0; left: 50%; text-align: center; }
.toRegister{margin-left: -2.5rem; color: #994242;}
.toForget{margin-left: 0.4rem; color: #429984;}
.links > span{width: 2px; height: 0.6rem; position: absolute; left: 50%; margin-left: -1px; top: 0.2rem; background-color: #784333;}
/*==忘记密码==*/
#forget1 .content{background: url("../img/forgetbg.png") no-repeat top center; -webkit-background-size:100% auto; background-size:100% auto;}
.forget-title{color: #9e6c5e; font-size: 0.9rem; text-align: center;}
#forget1 .check-img{font-size: 0.65rem; color: #8b4637; width: auto; padding: 0 0.3rem; background: url("../img/check-bg.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; white-space: nowrap;  flex: 0 1 auto}
#forget1 .check-img.disabled{opacity: 0.8; background: none;}
.form-submit{display: block; width: 46.67vw; height: 30.13vw; background: url("../img/submit-btn.png") no-repeat center center; background-size: contain; margin: 2rem auto 0;}
.input-controller.number3{word-spacing: 0.15rem;}
/*==注册==*/
.register{ background: url("../img/login.png") repeat; -webkit-background-size:100% auto; background-size:100% auto;}
.register a{color: #464646;}
#register img{display: block;}
#register .content{padding-top: 1.7rem; background: url("../img/register-bg.png") no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto;}
.register-title{font-size: 0.9rem; color: #9e6c5e; text-align: center; height: 1.6rem; line-height: 1.6rem; margin: 0; }
.register-info-content{font-size: 0.6rem; color: #9f968c; line-height: 1rem; padding: 0.5rem 0;}
.register-info-content p{ text-indent: 1.2rem; margin: 0;}
.register-form-title{height: 19.73vw; background: url("../img/title.png") no-repeat center center; -webkit-background-size: auto 100%; background-size: auto 100%;}
.register-form-title img{width: 23.1%; position: absolute; left: 40%; top: 51%;}
#register .forms-wrapper{padding-top: 1.5rem; padding-bottom: 5rem;}
.check-label{font-size: 0.55rem; -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; margin-top: 1.35rem;}
.check-label+.check-label{margin-top: 0.5rem;}
.checkbox-wrapper{width: 0.7rem; height: 0.7rem; border: 1px solid #915041; position: relative; overflow: hidden;}
.checkbox-input{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.checkbox-show{display: block; width: 100%; height: 100%;}
.checkbox-input:checked+.checkbox-show{ background: no-repeat center; background-color: #915041; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E"); color: #915041; -webkit-background-size: contain; background-size: contain; }
.checkbox-word{margin-left: 0.1rem; color: #464646;}
.checkbox-word:before{content: "*"; font-size: 0.35rem; color: #915041; }
.register-next{display: block; height: 30vw; width: 40vw; margin: 1.6rem auto 0; background: url("../img/btns.png") no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.register-next img{width: 17.2vw; position: absolute; left: 43%; bottom: 5%;}
/*==注册2==*/
#register .register2 .forms-wrapper{padding-top: 0;}
select.input-controls{border: none; outline: none; background-color: transparent; appearance: none; -webkit-appearance:none;}
.register-links{color: #994242; font-size: 0.7rem; text-align: right; margin-top: -1.2rem;}
.register-links a{color: #429984;}



