@charset "utf-8";
.flex{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;  -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch;}
/*==登陆==*/
.po-re{position: relative;}
.page{background: url("../img/login.png") repeat; -webkit-background-size:100% auto; background-size:100% auto;}
.wrapper{display: block; width: 100%; overflow-x: hidden; min-height: 100%; margin: 0; background: url("../img/login-bg.png") no-repeat top center; -webkit-background-size:100% auto; background-size:100% auto;}
.pd75{padding-left: 3.2vw; padding-right: 3.2vw;}
/*==表格部分==*/
.forms-wrapper{width: 100%; font-size: 0; padding-top: 25.3vw; }
.forms-content{margin-top: 1.15rem;}
.input-wrapper{display: block; margin:0 auto; width: 61vw; min-width: 12rem; height: 10vw; line-height: 10vw;  position: relative;}
.input-label{width:100%; height: 100%; background: url("../img/login-input.png") no-repeat; background-size: 100% 100%; position: relative;}
.input-controls{width: 100%; height: 100%;  font-size: 0.8rem; padding: 0 0.8rem; color: #8d8d8c; text-align: center;}
.input-controls::-webkit-input-placeholder{text-align: center; color: #8d8d8c;}
.input-controls::-ms-input-placeholder{text-align: center;  color: #8d8d8c;}
.number2::-webkit-input-placeholder{word-spacing: 1.4rem;}
.number2::-ms-input-placeholder{word-spacing: 1.4rem;}
.number3::-webkit-input-placeholder{word-spacing: 0.3rem;}
.number3::-ms-input-placeholder{word-spacing: 0.3rem;}
.forms-content .input-wrapper+.input-wrapper{margin-top: 1.15rem;}
.input-label-small{width: 58%; background: url("../img/login-input-small.png") no-repeat; background-size: 100% 100%;}
.check-img{width: 37%; height: 100%; display: block; font-size: 0;border-radius: 30%; background: url("../img/check-bg.png") no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; position: relative; }
.check-bg{width: 100%; height: 100%; background: url("../img/check-back.png") no-repeat; -webkit-background-size: 100% 100%;  background-size: 100% 100%; overflow: hidden;}
.check-img img{display: block; width: 90%; max-height: 95%; position: absolute; left: 5%; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.change-check,.register .change-check{font-size: 0.6rem; color: #b1b0a9; position: absolute; top: 100%; width: 100%; text-align: center; height: 1rem; line-height: 1rem;}
.login-btns img{width: 60vw; display: block; margin: 1.7rem auto 0;}
.login-btn{width: 18.67vw; height: 9.1vw; position: absolute; top: 65%;}
.login-btn.login{left: 27vw;}
.login-btn.toRegister{left: 48vw;}
.links{margin: 1rem auto; font-size: 0.7rem;  height: 1rem; color: #429984; text-align: center;}
.toForget{color: #429984; }
/*==忘记密码==*/
#forget1 .wrapper,#forget2 .wrapper{background: url("../img/register-bg.png") no-repeat top center; -webkit-background-size:100% auto; background-size:100% auto;}
.forget-title{color: #9e6c5e; font-size: 0.9rem; text-align: center;}
#forget1 .check-bg{font-size: 0.6rem; color: #8b4637; white-space: nowrap; text-align: center;}
#forget1 .check-img.disabled .check-bg{opacity: 0.8; background: none;}
.form-submit{display: block; width: 46.67vw; height: 30.13vw; background: url("../img/submit-btn.png") no-repeat center center; background-size: contain; margin: 2rem auto 0;}
/*==注册==*/
#register .wrapper{ background: url("../img/register-bg.png") repeat; -webkit-background-size:100% auto; background-size:100% auto; padding-top: 1.7rem;}
.register a{color: #464646;}
#register img{display: block;}
.register-form-title{height: 19.73vw; background: url("../img/title.png") no-repeat center center; -webkit-background-size: auto 100%; background-size: auto 100%;}
.register-form-title img{width: 23.1%; position: absolute; left: 40%; top: 51%;}
#register .forms-wrapper{padding-top: 1.5rem; padding-bottom: 5rem;}
.check-label{font-size: 0.55rem; -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; margin-top: 1.35rem; padding-left: 3.2vw;}
.check-label+.check-label{margin-top: 0.3rem;}
.checkbox-wrapper{width: 0.7rem; height: 0.7rem; border: 1px solid #915041; position: relative; overflow: hidden;}
.checkbox-input{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.checkbox-show{display: block; width: 100%; height: 100%;}
.checkbox-input:checked+.checkbox-show{ background: no-repeat center; background-color: #915041; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E"); color: #915041; -webkit-background-size: contain; background-size: contain; }
.checkbox-word{margin-left: 0.1rem; color: #464646;}
.checkbox-word:before{content: "*"; font-size: 0.35rem; color: #915041; }
.register-next{display: block; height: 30vw; width: 40vw; margin: 2rem auto 0; background: url("../img/btns.png") no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%;}
.register-next img{width: 17.2vw; position: absolute; left: 43%; bottom: 5%;}
.pass-check{width: 0; height: 0.675rem; background: url("../img/pass.png") no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; position: absolute; left: 50%; margin-left: -1.9375rem; bottom: -0.7rem;}
.pass-check.lv0{width: 0;}
.pass-check.lv1{width: 1.275rem;}
.pass-check.lv2{width: 2.575rem;}
.pass-check.lv3{width: 3.875rem;}
/*==注册2==*/
#register .register2 .forms-wrapper{padding-top: 0;}
select.input-controls{border: none; outline: none; background-color: transparent; appearance: none; -webkit-appearance:none;}
.register-links{color: #994242; font-size: 0.7rem; text-align: center; margin-top: 0.6rem; padding-left: 2.5rem;}
.register-links a{color: #429984;}
.ios-select-widget-box header.iosselect-header a{color: #0894ec;}
/*==成功==*/
.register-succ,#register-success a{color: #9e6c5e; text-align: center;}
.succ-word{font-size:1rem; margin-top: 30vh;}
a.toInfo{font-size: 0.75rem;}
a.backToLogin{position: absolute; bottom: 1.2rem; font-size: 0.6rem; width: 100%;}
.error{position: absolute; font-size: 0.5rem; color: #a34c46; left: 0; top: -7vw; width: 100%; text-align: center;}